@model CarViewModel

<h4>Производитель: @Model.Manufacturer</h4>
<h4>Модель: @Model.Model</h4>
<h4>Год выпуска: @Model.YearOfManufacture</h4>
<h4>Регистрационный номер: @Model.RegistrationNumber</h4>
<h4>Номер VIN: @Model.VinCode</h4>
<h4>Пробег(км): @Model.Mileage</h4>
<h4>Цвет: @Model.Colour</h4>